<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.js?2.9.1"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://rawgithub.com/vijithassar/d3textwrap/master/d3textwrap.v0.js" type="text/javascript"></script>
<%= stylesheet_link_tag "test" %>
<body>
<h1 class="title"><%= @mindmap.mindmap_name %></h1>
<div class="addnode">
  <h2></h2>
  <h3 id="target">
    &#10095 Target(s)<span class="arrowright">&#10141</span><span class="target"></span>
  </h3>
  <h3 id="source">
    &#10095 Source<span class="arrowright">&#10141</span><span class="source"></span>
  </h3>
</div>
<%= render :partial => "force-diagram" %>
