<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.js?2.9.1"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<body>
<div id="addnode">
  <h2>Microsoft</h2>
  <h3 id="target">
  <h3>
    <h3 id="source">
    </h3>
</div>
<script>

// http://blog.thomsonreuters.com/index.php/mobile-patent-s-graphic-of-the-day/
var links = [
  {"source": "Microsoft", "target": "Amazon", "type": "1"},
  {"source": "Microsoft", "target": "HTC", "type": "2"},
  {"source": "Samsung", "target": "Apple", "type": "3"},
  {"source": "Motorola", "target": "Apple", "type": "4"},
  {"source": "Apple", "target": "Nokias", "type": "5"},
  {"source": "HTC", "target": "Apple", "type": "6"},
  {"source": "Kodak", "target": "Apple", "type": "7"},
  {"source": "Microsoft", "target": "Barnes & Noble", "type": "8"},
  {"source": "Microsoft", "target": "Foxconn", "type": "9"},
  {"source": "Apple", "target": "HTC", "type": "10"},
  {"source": "Microsoft", "target": "Inventec", "type": "11"},
  {"source": "Samsung", "target": "Kodak", "type": "12"},
  {"source": "LG", "target": "Kodak", "type": "13"},
  {"source": "RIM", "target": "Kodak", "type": "14"},
  {"source": "Sony", "target": "LG", "type": "15"},
  {"source": "Kodak", "target": "LG", "type": "16"},
  {"source": "Apple", "target": "Nokia", "type": "17"},
  {"source": "Qualcomm", "target": "Nokia", "type": "18"},
  {"source": "MyTime", "target": "Android", "type":"19"},
  {"source": "MyTime", "target": "IOS", "type":"20"},
  {"source": "Apple", "target": "Motorola", "type": "21"},
  {"source": "Microsoft", "target": "Motorola", "type": "22"},
  {"source": "Motorola", "target": "Microsoft", "type": "23"},
  {"source": "ZTE", "target": "Huawei", "type": "24"},
  {"source": "ZTE", "target": "Ericsson", "type": "25"},
  {"source": "Kodak", "target": "Samsung", "type": "26"},
  {"source": "Apple", "target": "Samsung", "type": "27"},
  {"source": "Kodak", "target": "RIM", "type": "28"},
  {"source": "Nokia", "target": "Qualcomm", "type": "29"}
];

var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source, target: link.target});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target, source: link.source.name});
});

var width = 900,
    height = 600;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(150)
    .charge(-600)
    .on("tick", tick)
    .start();

var svg = d3.select("body").append("svg")
    .attr("height", height)
    .attr("width", width);
var link = svg.selectAll(".link")
    .data(force.links())
  .enter().append("line")
    .attr("class", "link");

var node = svg.selectAll(".node")
    .data(force.nodes())
  .enter().append("g")
    .attr("class", "node")
    .on("mouseover", mouseover)
    .on("mouseout", mouseout)
    .call(force.drag)
    .on("click", click);
    

node.append("circle")
.attr("r", function(d){
    if (d.weight == "1"){
    return 28;
    }else if (d.weight == "2"){
    return 17.5 * d.weight;
    }else if (d.weight == "3"){
      return 13 * d.weight;
    }else if (d.weight == "4"){
      return 11 * d.weight;
    }else if (d.weight == "5"){
      return 10* d.weight;
    }else if (d.weight == "6"){
      return 7 * d.weight;
    }else if (d.weight >= "7"){
      return 6.5 * d.weight;
    }
      })
    .attr("fill","grey")
    .attr("stroke","black")
    .attr("stroke-width",1.5)
    .attr("data-target", function(d){
        return d.target;
        })
    .attr("data-name", function(d){
        return d.name;
        });

node.append("text")
    .attr("text-anchor", "middle")
    .text(function(d) { return d.name; })
    .attr("dy", ".20em")
    .attr("font-size",12);


  //$("circle").click(function(){
    //  alert ($(this).data("name"));
      //});

  
$("circle").dblclick(function(){
    var node = $(this).data("name");
    $("#addnode h2").text(node);
    $("#addnode").addClass('translate');  
      });

$("circle").hover(function(){
    if($(this).data("target")){
  var target = $(this).data("target");
  $("#target").text("Target: " + target);
  } else {
    $("#target").text("No targets");
    //var source = $(this).data("source");
  }
  var node = $(this).data("name");
  $("#addnode h2").text(node);
  $("#addnode").addClass('translate');
  },
  function(){
  $("#addnode").removeClass('translate');
  });

function tick() {
  link
      .attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function mouseover() {
  
  if( d3.select(this).select("circle").attr("r") < 100){
  d3.select(this).select("text").transition()
    .style("font-size","25px")
    .ease("elastic")
    .duration(1000);
  d3.select(this).select("circle").transition()
      .ease("elastic")
      .duration(1000)
      .attr("r",function(d){
if (d.weight == "1"){
    return 28*2;
    }else if (d.weight == "2"){
    return 17.5 * d.weight * 1.5;
    }else if (d.weight == "3"){
      return 13 * d.weight*1.5;
    }else if (d.weight == "4"){
      return 11 * d.weight*1.5;
    }else if (d.weight == "5"){
      return 10* d.weight*1.5;
    }else if (d.weight == "6"){
      return 7 * d.weight*1.5;
    }else if (d.weight >= "7"){
      return 5 * d.weight*1.5;
    }
});
  }
}
function click(){
  if( d3.select(this).select("circle").attr("r") > 100 ){
    $("#addnode").removeClass("translate");
    d3.select(this).select("circle").transition()
      .duration(1000)
      .attr("r", function(d){
      if (d.weight == "1"){
      return 28;
      }else if (d.weight == "2"){
      return 17.5 * d.weight;
      }else if (d.weight == "3"){
        return 13 * d.weight;
      }else if (d.weight == "4"){
        return 11 * d.weight;
      }else if (d.weight == "5"){
        return 10* d.weight;
      }else if (d.weight == "6"){
        return 7 * d.weight;
      }else if (d.weight >= "7"){
        return 6.5 * d.weight;
      }
        })
      .attr("stroke","black")
      .attr("stroke-width",1.5);
    d3.selectAll("text").transition()
      .ease("elastic")
      .duration(1000)
      .style("font-size", "15px")
      .attr("dy", ".20em");
      
  } else {
  $("#addnode").removeClass("translate");  
  d3.selectAll("circle").transition()
    .duration(1000)
    .attr("r", function(d){
    if (d.weight == "1"){
    return 28;
    }else if (d.weight == "2"){
    return 17.5 * d.weight;
    }else if (d.weight == "3"){
      return 13 * d.weight;
    }else if (d.weight == "4"){
      return 11 * d.weight;
    }else if (d.weight == "5"){
      return 10* d.weight;
    }else if (d.weight == "6"){
      return 7 * d.weight;
    }else if (d.weight >= "7"){
      return 6.5 * d.weight;
    }
      })
    .attr("stroke-width", 1.5)
    .attr("stroke", "black");
  d3.selectAll("text").transition()
    .duration(750)
    .style("font-size", "15px")
    .ease("elastic")
    .attr("dy",".20em");
  d3.select(this).select("circle").transition()
    .ease("elastic")
    .duration(2500)
    .attr("r", 250)
    .style("z-index","200")
    .attr("stroke-width", 10)
    .attr("stroke", "purple");
  d3.select(this).select("text").transition()
    .duration(2500)
    .style("font-size", "72px")
    .ease("elastic")
    .attr("dy", "-100px");

  }
}

function mouseout() {
  if( d3.select(this).select("circle").attr("r") < 90){
  d3.select(this).select("text").transition()
    .style("font-size", "15px")
    .ease("elastic")
    .duration(750);
  d3.select(this).select("circle").transition()
      .ease("elastic")
      .duration(750)
      .attr("r",function(d){
if (d.weight == "1"){
    return 28;
    }else if (d.weight == "2"){
    return 17.5 * d.weight;
    }else if (d.weight == "3"){
      return 13 * d.weight;
    }else if (d.weight == "4"){
      return 11 * d.weight;
    }else if (d.weight == "5"){
      return 10* d.weight;
    }else if (d.weight == "6"){
      return 7 * d.weight;
    }else if (d.weight >= "7"){
      return 6.5 * d.weight;
    }
});
  }
  }

</script>
