$grey : #E6E6E6
$green : #BEFC60
$font-stack : monospace, Helvetica, sans-serif
= vendor-prefix($name, $style)
  -webkit-#{$name}: #{$style}
  -ms-#{$name}: #{$style}
  -moz-#{$name}: #{$style}
  -o-#{$name}: #{$style}
  #{$name}: #{$style}
