@import 'reset'
@import 'definitions'

.brainstorm
  position: absolute
  width: 400px
  left: 50%
  background-color: $grey
  margin: 0px auto
  margin-left: -200px
  margin-top: -100px
  display: block
  top: 50%
  padding: 3px
  +vendor-prefix(box-shadow,0 0 15px 1px rgba(0,0,0,0.3))
  button
    position: relative
    display: block
    width: 100px
    height: 50px
    margin: 0 auto
    padding: 0
    background-color: $green
    border: 0px
    text-align: center
    color: white
    text-stroke: 1px 
    transition: background-color 0.12s ease-in-out
    &:hover
      background-color: #f2f2f2
    font-size: 22px
  h1
    font-size: 66px
    font-family: $font-stack
    text-align: center
    font-weight: 100
