@import 'reset'
@import 'definitions'

.brainstorm
  position: absolute
  display: block
  width: 400px
  left: 50%
  background-color: $grey
  margin: 0px auto
  margin-left: -200px
  display: block
  top: 50%
  padding: 3px
  margin-top: -175px
  +vendor-prefix(box-shadow,0 0 15px 1px rgba(0,0,0,0.3))
  p
    font-family: $font-stack
    font-size: 12px
    text-align: center
    padding: 5px
  input
    font-size: 36px
    +center_block
    border: 0px
    width: 60%
    height: 50px
    margin-bottom: 10px
    outline: 0
    transition: box-shadow 0.125s ease-in-out
    &:focus
      +vendor-prefix(box-shadow,inset 0 0 5px 1px) 
  
  #initialize
    +center_block
    height 50px
    width: 100px
    border: 0
    background-color: $blue
    padding: 10px
    color: white
    outline: 0
    &:hover
      cursor: pointer
    
  .submit
    +center_block
    width: 100px
    height: 50px
    background-color: $orange
    color: white
    outline: 0
    transition: background-color 0.12s ease-in-out
    &:active
      transition: box-shadow 0.005s ease-in-out
      +vendor-prefix(box-shadow, inset 0 0 10px)
    &:hover
      cursor: pointer
      background-color: #f2f2f2
      color: black
    font-size: 22px
  h1
    font-size: 66px
    font-family: $font-stack
    text-align: center
    font-weight: 100
.mindmap
  input:not(#mindmap_mindmap_name):not(.submit)
    display: none


