.link
  fill: none
  stroke: #666
  stroke-width: 1.5px

text
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif


.node circle 
  fill: #ccc

svg
  position: absolute
  box-shadow: 0 4px 0.5px grey, 0 -4px 0.5px grey
  margin: 0px auto
  display: block
  margin-top: -300px
  margin-left: -450px
  top: 50%
  left: 50%

text 
  pointer-events: none

#addnode.translate
  -webkit-transform: translateX(-15px)
  transform: translateX(-15px)
  opacity: 1.0


#addnode
  display: block
  position: absolute
  margin: 0px auto
  float: right
  margin-top: -300px
  right: 100px
  top: 50%
  transition:  all 0.25s ease-in-out
  opacity: 0
  height: 600px
  width: 300px
  box-shadow:  0px 4px -2px 2px
  background-color:  grey


